#title {
  color: white;
  background-color: blue;
  width: 250;
  text-align: center; 
  margin-left: 150;
}

#textbox {
  color: black;
  outline: solid;
  outline-width: thin;
  outline-offset: 10px;
  text-align: center;
  width: 200;
  margin-left: 150;
  
}