#title {
  color: white;
  background-color: blue;
  width: 200;
  text-align: center; 
}

#textbox {
  color: black;
  outline: solid;
  outline-width: thin;
  outline-offset: 10px;
  text-align: center;
  
  
}