#title {
  color: white;
  background-color: blue;
  width: 250;
  text-align: center; 
  margin-left: 150;
}

#textbox {
  color: black;
  outline: solid;
  outline-width: thin;
  padding: 20px;
  text-align: center;
  width: 210;
  margin-left: 140;
  margin-top: 50;
}

#roundedborder {
  padding: 10px;
  outline:solid;
  outline-width: thin;
  text-align: center;
  width:230;
  margin-left: 140;
  margin-top: 75;
  
  
  
}